<html>
<head>
    <title>Users</title>
    <meta http−equiv="Content−Type" content="text/html;charset=UTF−8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href='/onLogout'>Log out</a>
    <a href='/'>Home</a>
    <h1>
        Admin Panel
    </h1>
    <h2>
        Users
    </h2>
    <table>
        <thead>
            <td>Id</td>
            <td>Username</td>
            <td>Password</td>
            <td>Is Admin</td>
        </thead>

        {% for user in users %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>
                {% if user[3] == 1%}
                {{True}}
                {% else %}
                {{False}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div style="color:red">
        {{content}}
    </div>
    <h1>
        Add user
    </h1>
    <form method=post action="/onUserAdd">
        Login: <input type=text name=login>
        Password: <input type=password name=password>
        <input type=submit>
    </form>
    <h1>
        Remove user
    </h1>
    <form method=post action="/onUserDelete">
        Id: <input type=number name=id>
        <input type=submit>
    </form>
</body>
</html>