<html>
<head>
    <title>Main</title>
    <meta http−equiv="Content−Type" content="text/html;charset=UTF−8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        {% if name %}
        <a href='/onLogout'>Log out</a>
        <a href='/user'>My account</a>
        {% else %}
        <a href='/login'>Log in</a>
        {% endif %}
        {% if admin %}
        <a href='/admin'>Admin panel</a>
        {% endif %}
    </div>
    {% if name %}
    <h1>
        Hello, {{name}} </br>
    </h1>
    {% endif %}
    <h2>
        Books
    </h2>
    <table>
        <thead>
            <td>Id</td>
            <td>Title</td>
            <td>Author</td>
        </thead>

        {% for book in books %}
        <tr>
            <td>{{book[0]}}</td>
            <td>{{book[1]}}</td>
            <td>{{book[2]}}</td>
        </tr>
        {% endfor %}
    </table>
    <div style="color:red">
        {{content}}
    </div>
    {% if name %}
    <h1>
        Add book
    </h1>
    <form method=post action="/onBookAdd">
        Title: <input type=text name=title>
        Author: <input type=text name=author>
        <input type=submit>
    </form>
    {% endif %}
    {% if admin %}
    <h1>
        Delete book
    </h1>
    <form method=post action="/onBookDelete">
        Id: <input type=number name=id>
        <input type=submit>
    </form>
    {% endif %}
</body>
</html>