<html>
<head>
    <title>Login</title>
    <meta http−equiv="Content−Type" content="text/html;charset=UTF−8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>
        Login
    </h1>
    <form method=post action="/onLogin">
        Login: <input type=text name=login>
        Password: <input type=password name=password>
        <input type=submit>
    </form>
</body>
</html>