<html>
<head>
    <title>User</title>
    <meta http−equiv="Content−Type" content="text/html;charset=UTF−8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href='/onLogout'>Log out</a>
    <a href="/">Home</a>
    <h1>User Panel</h1>
    <table>
        <thead>
            <td>Id</td>
            <td>Username</td>
            <td>Password</td>
            <td>Is Admin</td>
        </thead>

        {% for u in user %}
        <tr>
            <td>{{u[0]}}</td>
            <td>{{u[1]}}</td>
            <td>{{u[2]}}</td>
            <td>
                {% if u[3] == 1%}
                {{True}}
                {% else %}
                {{False}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>